@{
    ViewData["Title"] = "Error";
}

<div>
    <img src="/images/error.jpg" alt="Error" width="500" height="600" style="margin:auto;" />
</div>



<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
