@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<div>
    <img src="/images/welcome.jpg" alt="Welcome" width="800" height="500" style="margin:auto;" />
</div>
</div>
